@using LAPS.SJK.Logic.Helper;

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>



    <!-- Basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>MR X - Responsive HTML5 Template</title>

    <meta name="keywords" content="HTML5 Template" />
    <meta name="description" content="Porto - Responsive HTML5 Template">
    <meta name="author" content="okler.net">

    <!-- Favicon -->
    <link rel="shortcut icon" href="@Url.Content("~/Content/img/favicon.ico")" type="image/x-icon" />
    <link rel="apple-touch-icon" href="@Url.Content("~/Content/img/apple-touch-icon.png")">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, shrink-to-fit=no">

    <!-- Web Fonts  -->
    <link id="googleFonts" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800%7CShadows+Into+Light&display=swap" rel="stylesheet" type="text/css">


    <!-- Vendor CSS -->
    <link rel="stylesheet" href="@Url.Content("~/Content/vendor/bootstrap/css/bootstrap.min.css")">
    <link rel="stylesheet" href="@Url.Content("~/Content/vendor/fontawesome-free/css/all.min.css")">
    <link rel="stylesheet" href="@Url.Content("~/Content/vendor/animate/animate.compat.css")">
    <link rel="stylesheet" href="@Url.Content("~/Content/vendor/simple-line-icons/css/simple-line-icons.min.css")">
    <link rel="stylesheet" href="@Url.Content("~/Content/vendor/owl.carousel/assets/owl.carousel.min.css")">
    <link rel="stylesheet" href="@Url.Content("~/Content/vendor/owl.carousel/assets/owl.theme.default.min.css")">
    <link rel="stylesheet" href="@Url.Content("~/Content/vendor/magnific-popup/magnific-popup.min.css")">

    <!-- Theme CSS -->
    <link rel="stylesheet" href="@Url.Content("~/Content/css/theme.css")">
    <link rel="stylesheet" href="@Url.Content("~/Content/css/theme-elements.css")">
    <link rel="stylesheet" href="@Url.Content("~/Content/css/theme-blog.css")">
    <link rel="stylesheet" href="@Url.Content("~/Content/css/theme-shop.css")">

    <!-- Skin CSS -->
    <link id="skinCSS" rel="stylesheet" href="@Url.Content("~/Content/css/skins/default.css")">

    <!-- Theme Custom CSS -->
    <link rel="stylesheet" href="@Url.Content("~/Content/css/custom.css")">

    @*@Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")*@
</head>

<body data-plugin-page-transition>
    <div class="body">
        <header id="header" class="header-effect-shrink" data-plugin-options="{'stickyEnabled': true, 'stickyEffect': 'shrink', 'stickyEnableOnBoxed': true, 'stickyEnableOnMobile': false, 'stickyChangeLogo': true, 'stickyStartAt': 120, 'stickyHeaderContainerHeight': 70}">
            <div class="header-body border-top-0">
                <div class="header-top header-top-borders">
                    <div class="container-fluid h-100">
                        <div class="header-row h-100">
                            <div class="header-column justify-content-start">
                                <div class="header-row">
                                    <nav class="header-nav-top">
                                        <ul class="nav nav-pills">
                                            <li class="nav-item nav-item-borders py-2 d-none d-sm-inline-flex">
                                                <span class="ps-0">
                                                    <i class="far fa-dot-circle text-4 text-color-primary" style="top: 1px;"></i> Wisma Mulia 2 Lt. 16, Jl. Gatot Subroto No. 42, Jakarta Selatan
                                                    12710
                                                </span>
                                            </li>
                                            <li class="nav-item nav-item-borders py-2 d-none">
                                                <a href="tel:123-456-7890"><i class="fab fa-whatsapp text-4 text-color-primary" style="top: 0;"></i> 123-456-7890</a>
                                            </li>
                                            <li class="nav-item nav-item-borders py-2 d-none d-md-inline-flex">
                                                <a href="mailto:mail@domain.com"><i class="far fa-envelope text-4 text-color-primary" style="top: 1px;"></i> mail@domain.com</a>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                            <div class="header-column justify-content-end">
                                <div class="header-row">
                                    <nav class="header-nav-top">
                                        <ul class="nav nav-pills">
                                            <li class="nav-item nav-item-borders py-2 d-lg-inline-flex">
                                                <a class="nav-link ps-0" href="login.html"><i class="fas fa-angle-right"></i> Login</a>
                                            </li>
                                            <li class="nav-item nav-item-borders py-2 d-lg-inline-flex">
                                                <a class="nav-link" href="faq.html"><i class="fas fa-angle-right"></i> FAQ</a>
                                            </li>
                                            <li class="nav-item nav-item-borders py-2 pe-0 dropdown">
                                                <a class="nav-link" href="#" role="button" id="dropdownLanguage" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    <img src="@Url.Content("~/Content/img/blank.gif")" class="flag flag-id" alt="Indonesia" /> ID
                                                    <i class="fas fa-angle-down"></i>
                                                </a>
                                                <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownLanguage">
                                                    @Url.LangSwitcher("Indonesia", ViewContext.RouteData, "id")
                                                    @Url.LangSwitcher("English", ViewContext.RouteData, "en")

                                                    @*<a class="dropdown-item" href="#"><img src="@Url.Content("~/Content/img/blank.gif")" class="flag flag-id" alt="Indonesia" /> ID</a>
                                                        <a class="dropdown-item" href="#"><img src="@Url.Content("~/Content/img/blank.gif")" class="flag flag-us" alt="English" /> EN</a>*@
                                                </div>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="header-container container-fluid">
                    <div class="header-row">
                        <div class="header-column">
                            <div class="header-row">
                                <div class="header-logo">
                                    <a href="index.html">
                                        <img alt="Porto" width="200" height="96" data-sticky-width="82" data-sticky-height="40" src="@Url.Content("~/Content/img/logo-corporate-5.png")">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="header-column justify-content-end">
                            <div class="header-row">
                                <div class="header-nav header-nav-stripe order-2 order-lg-1">
                                    <div class="header-nav-main header-nav-main-square header-nav-main-effect-1 header-nav-main-sub-effect-1">
                                        <nav class="collapse">
                                            <ul class="nav nav-pills" id="mainNav">
                                                <li class="dropdown">
                                                    <a class="dropdown-item dropdown-toggle active" href="#">
                                                        Tentang Kami
                                                    </a>
                                                    <ul class="dropdown-menu">
                                                        <li>
                                                            <a class="dropdown-item" href="pendirianlapssjk.html">
                                                                PENDIRIAN LAPS SJK
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a class="dropdown-item" href="strukturorganisasi.html">
                                                                STRUKTUR ORGANISASI LAPS SJK
                                                            </a>
                                                        </li>
                                                        <li class="dropdown-submenu">
                                                            <a class="dropdown-item" href="#">KEANGGOTAAN LAPS SJK</a>
                                                            <ul class="dropdown-menu">

                                                                <li><a class="dropdown-item" href="syaratmenjadianggota.html">SYARAT MENJADI ANGGOTA LAPS SJK</a></li>
                                                                <li><a class="dropdown-item" href="hakdankewajiban.html">HAK DAN KEWAJIBAN ANGGOTA</a></li>
                                                                <li><a class="dropdown-item" href="daftaranggota.html">DAFTAR ANGGOTA</a></li>
                                                            </ul>
                                                        </li>
                                                        <li>
                                                            <a class="dropdown-item" href="pengawaslapssjk.html">
                                                                PENGAWAS LAPS SJK
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a class="dropdown-item" href="penguruslapssjk.html">
                                                                PENGURUS LAPS SJK
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a class="dropdown-item" href="komiteetik.html">
                                                                KOMITE ETIK
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </li>

                                                <li class="dropdown">
                                                    <a class="dropdown-item dropdown-toggle" href="#">
                                                        LAYANAN PENYELESAIAN SENGKETA
                                                    </a>
                                                    <ul class="dropdown-menu">
                                                        <li>
                                                            <a class="dropdown-item" href="blog-post-single.html">
                                                                TENTANG MEDIASI
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a class="dropdown-item" href="blog-post-single.html">
                                                                TENTANG ARBITRASE
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a class="dropdown-item" href="blog-post-single.html">
                                                                TENTANG PENDAPAT MENGIKAT
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a class="dropdown-item" href="blog-post-single.html">
                                                                TATA CARA PENDAFTARAN PERMOHONAN PENYELESAIAN SENGKETA
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </li>

                                                <li class="dropdown">
                                                    <a class="dropdown-item dropdown-toggle" href="#">
                                                        PERATURAN DAN ACARA LAPS SJK
                                                    </a>
                                                    <ul class="dropdown-menu">
                                                        <li>
                                                            <a class="dropdown-item" href="index.html">
                                                                PERATURAN DAN ACARA MEDIASI
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a class="dropdown-item" href="index.html">
                                                                PERATURAN DAN ACARA ARBITRASE
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a class="dropdown-item" href="index.html">
                                                                PERATURAN DAN ACARA PENDAPAT MENGIKAT
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a class="dropdown-item" href="index.html">
                                                                PERATURAN TENTANG MEDIATOR DAN ARBITER LAPS SJK
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a class="dropdown-item" href="index.html">
                                                                PERATURAN TENTANG BIAYA-BIAYA LAPS SJK
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a class="dropdown-item" href="index.html">
                                                                KODE ETIK MEDIATOR DAN ARBITER LAPS SJK
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </li>


                                                <li class="dropdown">
                                                    <a class="dropdown-item dropdown-toggle" href="#">
                                                        DAFTAR MEDIATOR LAPS SJK
                                                    </a>
                                                    <ul class="dropdown-menu">

                                                        <li class="dropdown-submenu">
                                                            <a class="dropdown-item" href="index.html">
                                                                DAFTAR MEDIATOR PERBANKAN
                                                            </a>
                                                            <ul class="dropdown-menu">
                                                                <li><a class="dropdown-item" href="#">DAFTAR MEDIATOR PERBANKAN KONVENSIONAL</a></li>
                                                                <li><a class="dropdown-item" href="#">DAFTAR MEDIATOR PERBANKAN SYARIAH</a></li>
                                                            </ul>
                                                        </li>
                                                        <li class="dropdown-submenu">
                                                            <a class="dropdown-item" href="index.html">
                                                                DAFTAR MEDIATOR PERASURANSIAN
                                                            </a>
                                                            <ul class="dropdown-menu">
                                                                <li><a class="dropdown-item" href="#">DAFTAR MEDIATOR ASURANSI UMUM KONVENSIONAL</a></li>
                                                                <li><a class="dropdown-item" href="#">DAFTAR MEDIATOR ASURANSI UMUM SYARIAH</a></li>
                                                                <li><a class="dropdown-item" href="#">DAFTAR MEDIATOR ASURANSI JIWA KONVENSIONAL</a></li>
                                                                <li><a class="dropdown-item" href="#">DAFTAR MEDIATOR ASURANSI JIWA SYARIAH</a></li>
                                                            </ul>
                                                        </li>
                                                        <li class="dropdown-submenu">
                                                            <a class="dropdown-item" href="index.html">
                                                                DAFTAR MEDIATOR PASAR MODAL
                                                            </a>
                                                            <ul class="dropdown-menu">
                                                                <li><a class="dropdown-item" href="#">DAFTAR MEDIATOR PASAR MODAL KONVENSIONAL</a></li>
                                                                <li><a class="dropdown-item" href="#">DAFTAR MEDIATOR PASAR MODAL SYARIAH</a></li>
                                                            </ul>
                                                        </li>
                                                        <li class="dropdown-submenu">
                                                            <a class="dropdown-item" href="index.html">
                                                                DAFTAR MEDIATOR DANA PENSIUN
                                                            </a>
                                                            <ul class="dropdown-menu">
                                                                <li><a class="dropdown-item" href="#">DAFTAR MEDIATOR DANA PENSIUN KONVENSIONAL</a></li>
                                                                <li><a class="dropdown-item" href="#">DAFTAR MEDIATOR DANA PENSIUN SYARIAH</a></li>
                                                            </ul>
                                                        </li>
                                                        <li class="dropdown-submenu">
                                                            <a class="dropdown-item" href="index.html">
                                                                DAFTAR MEDIATOR PEMBIAYAAN
                                                            </a>
                                                            <ul class="dropdown-menu">
                                                                <li><a class="dropdown-item" href="#">DAFTAR MEDIATOR PEMBIAYAAN KONVENSIONAL</a></li>
                                                                <li><a class="dropdown-item" href="#">DAFTAR MEDIATOR PEMBIAYAAN SYARIAH</a></li>

                                                            </ul>
                                                        </li>
                                                        <li class="dropdown-submenu">
                                                            <a class="dropdown-item" href="index.html">
                                                                DAFTAR MEDIATOR PERGADAIAN
                                                            </a>
                                                            <ul class="dropdown-menu">
                                                                <li><a class="dropdown-item" href="#">DAFTAR MEDIATOR PERGADAIAN KONVENSIONAL</a></li>
                                                                <li><a class="dropdown-item" href="#">DAFTAR MEDIATOR PERGADAIAN SYARIAH</a></li>
                                                            </ul>
                                                        </li>
                                                        <li class="dropdown-submenu">
                                                            <a class="dropdown-item" href="index.html">
                                                                DAFTAR MEDIATOR MODAL VENTURA
                                                            </a>
                                                            <ul class="dropdown-menu">
                                                                <li><a class="dropdown-item" href="#">DAFTAR MEDIATOR MODAL VENTURA KONVENSIONAL</a></li>
                                                                <li><a class="dropdown-item" href="#">DAFTAR MEDIATOR MODAL VENTURA SYARIAH</a></li>
                                                            </ul>
                                                        </li>
                                                        <li class="dropdown-submenu">
                                                            <a class="dropdown-item" href="index.html">
                                                                DAFTAR MEDIATOR PENJAMINAN KREDIT
                                                            </a>
                                                            <ul class="dropdown-menu">
                                                                <li><a class="dropdown-item" href="#">DAFTAR MEDIATOR PENJAMINAN KREDIT KONVENSIONAL</a></li>
                                                                <li><a class="dropdown-item" href="#">DAFTAR MEDIATOR PENJAMINAN KREDIT SYARIAH</a></li>
                                                            </ul>
                                                        </li>
                                                        <li class="dropdown-submenu">
                                                            <a class="dropdown-item" href="index.html">
                                                                DAFTAR MEDIATOR FINTECH
                                                            </a>
                                                            <ul class="dropdown-menu">
                                                                <li><a class="dropdown-item" href="#">DAFTAR MEDIATOR FINTECH KONVENSIONAL</a></li>
                                                                <li><a class="dropdown-item" href="#">DAFTAR MEDIATOR FINTECH SYARIAH</a></li>
                                                            </ul>
                                                        </li>
                                                    </ul>
                                                </li>

                                                <li class="dropdown">
                                                    <a class="dropdown-item dropdown-toggle" href="#">
                                                        DAFTAR ARBITER LAPS SJK
                                                    </a>
                                                    <ul class="dropdown-menu">
                                                        <li class="dropdown-submenu">
                                                            <a class="dropdown-item">
                                                                DAFTAR ARBITER PERBANKAN
                                                            </a>
                                                            <ul class="dropdown-menu">
                                                                <li><a class="dropdown-item" href="daftararbiterperbankankonvensional.html">DAFTAR ARBITER PERBANKAN KONVENSIONAL</a></li>
                                                                <li><a class="dropdown-item" href="daftararbiterperbankansyariah.html">DAFTAR ARBITER PERBANKAN SYARIAH</a></li>
                                                            </ul>
                                                        </li>

                                                        <li class="dropdown-submenu">
                                                            <a class="dropdown-item">
                                                                DAFTAR ARBITER PERASURANSIAN
                                                            </a>
                                                            <ul class="dropdown-menu">
                                                                <li><a class="dropdown-item" href="daftararbiterasuransiumumkonvensional.html">DAFTAR ARBITER ASURANSI UMUM KONVENSIONAL</a></li>
                                                                <li><a class="dropdown-item" href="daftararbiterasuransiumumsyariah.html">DAFTAR ARBITER ASURANSI UMUM SYARIAH</a></li>
                                                                <li><a class="dropdown-item" href="daftararbiterasuransijiwakonvensional.html">DAFTAR ARBITER ASURANSI JIWA KONVENSIONAL</a></li>
                                                                <li><a class="dropdown-item" href="daftararbiterasuransijiwasyariah.html">DAFTAR ARBITER ASURANSI JIWA SYARIAH</a></li>
                                                            </ul>
                                                        </li>

                                                        <li class="dropdown-submenu">
                                                            <a class="dropdown-item">
                                                                DAFTAR ARBITER PASAR MODAL
                                                            </a>
                                                            <ul class="dropdown-menu">
                                                                <li><a class="dropdown-item" href="daftararbiterpasarmodalkonvensional.html">DAFTAR ARBITER PASAR MODAL KONVENSIONAL</a></li>
                                                                <li><a class="dropdown-item" href="daftararbiterpasarmodalsyariah.html">DAFTAR ARBITER PASAR MODAL SYARIAH</a></li>
                                                            </ul>
                                                        </li>

                                                        <li class="dropdown-submenu">
                                                            <a class="dropdown-item">
                                                                DAFTAR ARBITER DANA PENSIUN
                                                            </a>
                                                            <ul class="dropdown-menu">
                                                                <li><a class="dropdown-item" href="daftararbiterdanapensiunkonvensional.html">DAFTAR ARBITER DANA PENSIUN KONVENSIONAL</a></li>
                                                                <li><a class="dropdown-item" href="daftararbiterdanapensiunsyariah.html">DAFTAR ARBITER DANA PENSIUN SYARIAH</a></li>
                                                            </ul>
                                                        </li>

                                                        <li class="dropdown-submenu">
                                                            <a class="dropdown-item">
                                                                DAFTAR ARBITER PEMBIAYAAN
                                                            </a>
                                                            <ul class="dropdown-menu">
                                                                <li><a class="dropdown-item" href="daftararbiterpembiayaankonvensional.html">DAFTAR ARBITER PEMBIAYAAN KONVENSIONAL</a></li>
                                                                <li><a class="dropdown-item" href="daftararbiterpembiayaansyariah.html">DAFTAR ARBITER PEMBIAYAAN SYARIAH</a></li>
                                                            </ul>
                                                        </li>

                                                        <li class="dropdown-submenu">
                                                            <a class="dropdown-item">
                                                                DAFTAR ARBITER PERGADAIAN
                                                            </a>
                                                            <ul class="dropdown-menu">
                                                                <li><a class="dropdown-item" href="">DAFTAR ARBITER PERGADAIAN KONVENSIONAL</a></li>
                                                                <li><a class="dropdown-item" href="#">DAFTAR ARBITER PERGADAIAN SYARIAH</a></li>
                                                            </ul>
                                                        </li>

                                                        <li class="dropdown-submenu">
                                                            <a class="dropdown-item">
                                                                DAFTAR ARBITER MODAL VENTURA
                                                            </a>
                                                            <ul class="dropdown-menu">
                                                                <li><a class="dropdown-item" href="daftararbitermodalventurakonvensional.html">DAFTAR ARBITER MODAL VENTURA KONVENSIONAL</a></li>
                                                                <li><a class="dropdown-item" href="daftararbitermodalventurasyariah.html">DAFTAR ARBITER MODAL VENTURA SYARIAH</a></li>
                                                            </ul>
                                                        </li>

                                                        <li class="dropdown-submenu">
                                                            <a class="dropdown-item">
                                                                DAFTAR ARBITER PENJAMINAN KREDIT
                                                            </a>
                                                            <ul class="dropdown-menu">
                                                                <li><a class="dropdown-item" href="daftararbiterpenjaminankreditkonvensional.html">DAFTAR ARBITER PENJAMINAN KREDIT KONVENSIONAL</a></li>
                                                                <li><a class="dropdown-item" href="daftararbiterpenjaminankreditsyariah.html">DAFTAR ARBITER PENJAMINAN KREDIT SYARIAH</a></li>
                                                            </ul>
                                                        </li>

                                                        <li class="dropdown-submenu">
                                                            <a class="dropdown-item">
                                                                DAFTAR ARBITER FINTECH
                                                            </a>
                                                            <ul class="dropdown-menu">
                                                                <li><a class="dropdown-item" href="daftararbiterfintechkonvensional.html">DAFTAR ARBITER FINTECH KONVENSIONAL</a></li>
                                                                <li><a class="dropdown-item" href="daftararbiterfintechsyariah.html">DAFTAR ARBITER FINTECH SYARIAH</a></li>
                                                            </ul>
                                                        </li>
                                                    </ul>
                                                </li>

                                                <li class="dropdown">
                                                    <a class="dropdown-item dropdown-toggle" href="#">
                                                        KEGIATAN
                                                    </a>
                                                    <ul class="dropdown-menu">
                                                        <li>
                                                            <a class="dropdown-item" href="blog-large-image-sidebar.html">
                                                                KEGIATAN YANG TELAH LALU
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a class="dropdown-item" href="blog-large-image-sidebar.html">
                                                                KEGIATAN YANG AKAN DATANG
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a class="dropdown-item" href="#">
                                                                LAPS SJK DALAM STATISTIK
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </li>

                                                <li class="dropdown">
                                                    <a class="dropdown-item dropdown-toggle" href="#">
                                                        TATA KELOLA
                                                    </a>
                                                    <ul class="dropdown-menu">
                                                        <li class="dropdown-submenu">
                                                            <a class="dropdown-item" href="index.html">
                                                                LAPORAN TAHUNAN DAN LAPORAN KEUANGAN
                                                            </a>
                                                            <ul class="dropdown-menu">
                                                                <li><a class="dropdown-item" href="#">TAHUN 2021</a></li>
                                                                <li><a class="dropdown-item" href="#">TAHUN 2020</a></li>
                                                            </ul>
                                                        </li>

                                                        <li class="dropdown-submenu">
                                                            <a class="dropdown-item" href="index.html">
                                                                RAPAT UMUM ANGGOTA TAHUNAN
                                                            </a>
                                                            <ul class="dropdown-menu">
                                                                <li><a class="dropdown-item" href="#">TAHUN 2021</a></li>
                                                                <li><a class="dropdown-item" href="#">TAHUN 2020</a></li>
                                                            </ul>
                                                        </li>

                                                        <li class="dropdown-submenu">
                                                            <a class="dropdown-item" href="index.html">
                                                                RAPAT UMUM ANGGOTA LUAR BIASA
                                                            </a>
                                                            <ul class="dropdown-menu">
                                                                <li><a class="dropdown-item" href="#">TAHUN 2021</a></li>
                                                                <li><a class="dropdown-item" href="#">TAHUN 2020</a></li>
                                                            </ul>
                                                        </li>

                                                        <li class="dropdown-submenu">
                                                            <a class="dropdown-item" href="index.html">
                                                                RAPAT PENGAWAS <span class="tip tip-dark"><i class="icon-lock icons"></i></span>
                                                            </a>
                                                            <ul class="dropdown-menu">
                                                                <li><a class="dropdown-item" href="#">TAHUN 2021</a></li>
                                                                <li><a class="dropdown-item" href="#">TAHUN 2020</a></li>
                                                            </ul>
                                                        </li>

                                                        <li class="dropdown-submenu">
                                                            <a class="dropdown-item" href="index.html">
                                                                RAPAT PENGURUS
                                                            </a>
                                                            <ul class="dropdown-menu">
                                                                <li><a class="dropdown-item" href="#">TAHUN 2021</a></li>
                                                                <li><a class="dropdown-item" href="#">TAHUN 2020</a></li>
                                                            </ul>
                                                        </li>

                                                        <li class="dropdown-submenu">
                                                            <a class="dropdown-item" href="index.html">
                                                                DOKUMEN LEGALITAS
                                                            </a>
                                                            <ul class="dropdown-menu">
                                                                <li><a class="dropdown-item" href="#">KEPUTUSAN SIRKULER PARA PENDIRI</a></li>
                                                                <li><a class="dropdown-item" href="#">ANGGARAN DASAR</a></li>
                                                                <li><a class="dropdown-item" href="#">PENGESAHAN KEMENTERIAN HUKUM & HAM</a></li>
                                                                <li><a class="dropdown-item" href="#">ANGGARAN RUMAH TANGGA</a></li>
                                                                <li><a class="dropdown-item" href="#">NPWP</a></li>
                                                                <li><a class="dropdown-item" href="#">IZIN OPERASIONAL DARI OJK</a></li>
                                                            </ul>
                                                        </li>

                                                    </ul>
                                                </li>

                                                <li class="dropdown">
                                                    <a class="dropdown-item dropdown-toggle" href="contactus.html">
                                                        HUBUNGI KAMI
                                                    </a>
                                                </li>


                                            </ul>
                                        </nav>
                                    </div>
                                    <button class="btn header-btn-collapse-nav" data-bs-toggle="collapse" data-bs-target=".header-nav-main nav">
                                        <i class="fas fa-bars"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <div role="main" class="main">
            @RenderBody()
        </div>

        <footer id="footer" class="mt-0">
            <div class="container">
                <div class="footer-ribbon">
                    <span>LPS SJK</span>
                </div>
                <div class="row py-5 my-4">
                    <div class="col-md-7 col-lg-4 mb-5 mb-lg-0 pt-3">
                        <h5 class="text-3 mb-3">ABOUT US</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eu pulvinar magna semper scelerisque.</p>
                        <p class="mb-0">Praesent venenatis turpis vitae purus semper, eget sagittis velit venenatis ptent taciti sociosqu ad litora...</p>
                        <p class="mb-0"><a href="#" class="btn-flat btn-xs text-color-light p-relative top-5"><strong class="text-2">VIEW MORE</strong><i class="fas fa-angle-right p-relative top-1 ps-2"></i></a></p>
                    </div>
                    <div class="col-md-5 col-lg-3 mb-5 mb-lg-0 pt-3">
                        <h5 class="text-3 mb-3 pb-1">CONTACT US</h5>
                        <p class="text-8 text-color-light font-weight-bold"><a href="tel:1234567890" class="text-decoration-none">(800) 123-4567</a></p>
                        <p class="mb-2">International: <a href="tel:1234567890" class="text-decoration-none">(333) 456-6670</a></p>
                        <p class="mb-2">Fax: <a href="tel:1234567890" class="text-decoration-none">(222) 531-8999</a></p>
                        <ul class="list list-icons list-icons-lg">
                            <li class="mb-1"><i class="far fa-dot-circle text-color-primary"></i><p class="m-0">234 Street Name, City Name</p></li>
                            <li class="mb-1"><i class="far fa-envelope text-color-primary"></i><p class="m-0"><a href="mailto:mail@example.com">mail@example.com</a></p></li>
                        </ul>
                        <!--<ul class="social-icons mt-4">
                            <li class="social-icons-facebook"><a href="http://www.facebook.com/" target="_blank" title="Facebook"><i class="fab fa-facebook-f"></i></a></li>
                            <li class="social-icons-twitter"><a href="http://www.twitter.com/" target="_blank" title="Twitter"><i class="fab fa-twitter"></i></a></li>
                            <li class="social-icons-linkedin"><a href="http://www.linkedin.com/" target="_blank" title="Linkedin"><i class="fab fa-linkedin-in"></i></a></li>
                        </ul>-->
                    </div>
                    <div class="col-lg-5 pt-3">
                        <h5 class="text-3 mb-3 pb-1">SEND US A MESSAGE</h5>
                        <form class="contact-form form-errors-light" action="php/contact-form.php" method="POST">
                            <input type="hidden" value="Contact Form" name="subject" id="subject">
                            <div class="contact-form-success alert alert-success d-none">
                                Message has been sent to us.
                            </div>

                            <div class="contact-form-error alert alert-danger d-none">
                                Error sending your message.
                                <span class="mail-error-message text-1 d-block"></span>
                            </div>
                            <div class="row">
                                <div class="form-group col">
                                    <input type="text" value="" data-msg-required="Please enter your name." maxlength="100" class="form-control text-3 h-auto py-2" placeholder="Your Name..." name="name" id="name" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <input type="email" value="" data-msg-required="Please enter your email address." data-msg-email="Please enter a valid email address." maxlength="100" class="form-control text-3 h-auto py-2" placeholder="Your Email Address..." name="email" id="email" required>
                            </div>
                            <div class="row">
                                <div class="form-group col">
                                    <textarea maxlength="5000" data-msg-required="Please enter your message." rows="4" class="form-control text-3 h-auto py-2" placeholder="Your Message..." name="message" id="message" required></textarea>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col">
                                    <input type="submit" value="SUBMIT" class="btn btn-xl btn-outline btn-primary text-1 font-weight-bold text-uppercase" data-loading-text="Loading...">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="footer-copyright">
                <div class="container py-2">
                    <div class="row py-4">
                        <div class="col-lg-1 d-flex align-items-center justify-content-center justify-content-lg-start mb-2 mb-lg-0">
                            <a href="index.html" class="logo pe-0 pe-lg-3">
                                <img alt="Template" src="@Url.Content("~/Content/img/logo-footer.png")" class="opacity-5" height="32">
                            </a>
                        </div>
                        <div class="col-lg-7 d-flex align-items-center justify-content-center justify-content-lg-start mb-4 mb-lg-0">
                            <p>© Copyright 2021. All Rights Reserved.</p>
                        </div>
                        <div class="col-lg-4 d-flex align-items-center justify-content-center justify-content-lg-end">
                            <nav id="sub-menu">
                                <ul>
                                    <li><i class="fas fa-angle-right"></i><a href="page-faq.html" class="ms-1 text-decoration-none"> FAQ's</a></li>
                                    <li><i class="fas fa-angle-right"></i><a href="sitemap.html" class="ms-1 text-decoration-none"> Sitemap</a></li>
                                    <li><i class="fas fa-angle-right"></i><a href="contact-us.html" class="ms-1 text-decoration-none"> Contact Us</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </footer>

        @*<body>
                <div class="navbar navbar-inverse navbar-fixed-top">
                    <div class="container">



                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            @Html.ActionLink(LAPS.SJK.UI.App_LocalResources.GlobalRes.APPLICATION_NAME, "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                        </div>
                        <div class="navbar-collapse collapse">
                            <ul class="nav navbar-nav">
                                <li>@Html.ActionLink(LAPS.SJK.UI.App_LocalResources.GlobalRes.HOME, "Index", "Home")</li>
                                <li>@Html.ActionLink(LAPS.SJK.UI.App_LocalResources.GlobalRes.ABOUT, "About", "Home")</li>
                                <li>@Html.ActionLink(LAPS.SJK.UI.App_LocalResources.GlobalRes.CONTACT, "Contact", "Home")</li>
                            </ul>

                        </div>

                        <ul class="nav pull-right">
                            <li class="divider-vertical"></li>
                            <li class="dropdown open">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    @Url.LangSwitcher("Indonesia", ViewContext.RouteData, "id")
                                    <li class="divider"></li>
                                    @Url.LangSwitcher("English", ViewContext.RouteData, "en")
                                    <li class="divider"></li>
                                    @Url.LangSwitcher("Russian", ViewContext.RouteData, "ru")
                                </ul>
                            </li>
                        </ul>

                    </div>


                </div>
                <div class="container body-content">

                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                    @RenderBody()
                    <hr />
                    <footer>
                        <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
                    </footer>
                </div>

                @Scripts.Render("~/bundles/jquery")
                @Scripts.Render("~/bundles/bootstrap")
                @RenderSection("scripts", required: false)
            </body>*@


    </div>
    <!-- Vendor -->
    <script src="@Url.Content("~/Content/vendor/jquery/jquery.min.js")"></script>
    <script src="@Url.Content("~/Content/vendor/jquery.appear/jquery.appear.min.js")"></script>
    <script src="@Url.Content("~/Content/vendor/jquery.easing/jquery.easing.min.js")"></script>
    <script src="@Url.Content("~/Content/vendor/jquery.cookie/jquery.cookie.min.js")"></script>
    <script src="@Url.Content("~/Content/vendor/bootstrap/js/bootstrap.bundle.min.js")"></script>
    <script src="@Url.Content("~/Content/vendor/jquery.validation/jquery.validate.min.js")"></script>
    <script src="@Url.Content("~/Content/vendor/jquery.easy-pie-chart/jquery.easypiechart.min.js")"></script>
    <script src="@Url.Content("~/Content/vendor/jquery.gmap/jquery.gmap.min.js")"></script>
    <script src="@Url.Content("~/Content/vendor/lazysizes/lazysizes.min.js")"></script>
    <script src="@Url.Content("~/Content/vendor/isotope/jquery.isotope.min.js")"></script>
    <script src="@Url.Content("~/Content/vendor/owl.carousel/owl.carousel.min.js")"></script>
    <script src="@Url.Content("~/Content/vendor/magnific-popup/jquery.magnific-popup.min.js")"></script>
    <script src="@Url.Content("~/Content/vendor/vide/jquery.vide.min.js")"></script>
    <script src="@Url.Content("~/Content/vendor/vivus/vivus.min.js")"></script>

    <!-- Theme Base, Components and Settings -->
    <script src="@Url.Content("~/Content/js/theme.js")"></script>

    <!-- Theme Custom -->
    <script src="@Url.Content("~/Content/js/custom.js")"></script>

    <!-- Theme Initialization Files -->
    <script src="@Url.Content("~/Content/js/theme.init.js")"></script>



    @*@Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")*@
    @RenderSection("scripts", required: false)

</body>

</html>
