@model LAPS.SJK.UI.Models.Widget

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<div style="background: silver">
    @LAPS.SJK.UI.App_LocalResources.GlobalRes.Money: @($"{5000:c0}") <br />
    @LAPS.SJK.UI.App_LocalResources.GlobalRes.Money: @(string.Format("{0:c0}", 45000)) <br />
    @LAPS.SJK.UI.App_LocalResources.GlobalRes.DateAndTime: @(DateTime.Now.ToString("F")) <br />
</div>