@model LAPS.SJK.UI.Models.Widget
@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>



<div style="background: silver">
    @LAPS.SJK.UI.App_LocalResources.GlobalRes.Money: @($"{5000:c0}") <br />
    @LAPS.SJK.UI.App_LocalResources.GlobalRes.Money: @(string.Format("{0:c0}", 45000)) <br />
    @LAPS.SJK.UI.App_LocalResources.GlobalRes.DateAndTime: @(DateTime.Now.ToString("F")) <br />
</div>